aiohttp
aiofiles
aioshutil
anytree
apscheduler
aria2p
asyncio
cloudscraper
dnspython
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
lxml
heroku3
myjdapi
motor
natsort
pillow
psutil
pycryptodome
pymongo
pyrofork==2.2.11
pytz
python-dotenv
bs4
python-magic
gtts
qbittorrent-api
requests
telegraph
tenacity
waybackpy
tgcrypto
urllib3
uvloop
xattr
speedtest-cli
html_telegraph_poster
yt-dlp[default,curl-cffi]
